build.properties
l10n/locale/bundles
version.as
halcyon.tmproj
Potlatch2.as3proj

resources/locales
resources/*.swf
resources/*.cache
resources/docs
resources/mapquest
resources/generated

/tests/bin/
/tests/report/

/generated

bin/
obj/
