
Application {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  backgroundColor: #c0c0c0;
  borderStyle: none;
}

ApplicationControlBar {
  padding-top: 2;
  padding-bottom: 2;
  fillAlphas: 1.0,1.0;
  fillColors: #e0e0e0, #c0c0c0;
  backgroundColor: #c0c0c0;
  borderSkin: ClassReference("mx.skins.halo.ApplicationBackground");
}

TitleWindow {
  borderAlpha: 0.8;
  borderThicknessLeft: 5;
  borderThicknessRight: 5;
}

.failText {
  color: red;
}

.warningText {
  color: #ff4500;
}

.promptText {
  fontStyle: italic;
}

.helpHeaderText {
  fontWeight: bold;
  fontSize: 12pt;
  textAlign: right;
}

.helpPageHeader {
  fontWeight: bold;
  fontSize: 13pt;
}

.helpTN {
  /*backgroundColor: #e8f4d9;*/
}

.header {
		fillColors: haloSilver, x222222;
		fillAlphas: 1.0, 1.0;
		selectedFillColors: haloBlue, black;
		color: white;
}

.helpInfo {
  fontStyle: italic;
  fontSize: 11pt;
}

.featureSelector {
  paddingTop: 3;
  paddingLeft: 3;
  paddingRight: 3;
}

.editorContainer {
  verticalGap: 4;
  paddingTop: 3;
  paddingLeft: 3;
  paddingRight: 3;
}

.titledEditor {
  verticalGap: 0;
  verticalAlign: middle;
  horizontalGap: 3;
}


.dndPanelTileList {
  cornerRadius: 4px;
}


.dndPanelVbox {
  paddingRight: 3px;
  paddingLeft: 3px;
  verticalGap: 0px;
}

.dndPanelCategoryLabel {
  paddingTop: 6px;
}
